:root{
    /* ------ color ------*/
    --color__background:rgb(213, 213, 213);
    --color_txt__light: rgb(255, 255, 255);
    --color__principal: rgb(243, 190, 190);
    --color__secundario: rgb(211, 132, 135); 
    --color__timer:#B8B2B2;   
    /*--------- fuente ----------*/
    --font__principal: 'Northwell', sans-serif;
    --font__secundaria: 'Albra', sans-serif;
    --color__font_dark:rgb(0, 0, 0);
    --font-size_11: 0.6875rem;
    --font-size_12: 0.75rem;
    --font-size_14: 0.875rem;
    --font-size_16:1rem;
    --font-size_18:1.125rem;
    --font-size_24:1.5rem;
    --font-size_28:1.75rem;
    --font-size_32:2rem;
    --font-size_36:2.25rem;
    --font-size_42:2.625rem;
    --font-size_48: 3rem;
    --font-size_56:3.5rem;

    

    /*----------- button ------------*/
    --color__btn:rgb(255, 215, 215);

    
    --color__shadow: 10px 10px 9px -9px rgba(0, 0, 0, 0.75);
    --color__overlay:rgba(0, 0, 0, 0.2);
    
    --shadow__btn:rgba(255, 215, 215, 0.75);
    --color__circle:rgb(254, 254, 254);
}

@font-face {
    font-family: 'Albra-Bold';
    src: url(../src/assets/font/Albra-Bold.otf);
}
@font-face {
    font-family: 'Albra-Semi';
    src: url(../src/assets/font/Albra-Semi.otf);
}
@font-face {
    font-family: 'Albra-Medium';
    src: url(../src/assets/font/Albra-Medium.otf);
}
@font-face {
    font-family: 'Albra-Regular';
    src: url(../src/assets/font/Albra-Regular.otf);
}
@font-face {
    font-family: 'Albra-Light';
    src: url(../src/assets/font/Albra-Light.otf);
}
@font-face {
    font-family: 'Northwell';
    src: url(../src/assets/font/Northwell.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--color__background);
}
/*Estilo del scrollbar*/
::-webkit-scrollbar {
    width: .5rem;
    background-color: var(--color__secundario);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:var(--color__btn);
    border-radius: 9px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color__principal);
  }